// Required


/* HTML Root Configuration */

html {
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Variables */

$fog: rgba(255, 255, 255, 0.10);

$theme-colors: (
        "fog": $fog,
        "primary": rgb(10, 132, 255),
        "danger": rgb(255, 69, 58),
        "success": rgb(48, 209, 88),
        "warning": rgb(255, 159, 10),
        "muted": $fog,
        "dark": #1e1e1e
);


$fg: rgba(255, 255, 255, 0.12);
$border-color: rgba(255, 255, 255, 0.16);
$font-family-base: "Open Sans";
$body-bg: #121212;
$body-color: #FFF;
$card-bg: #1e1e1e;
$list-group-bg: $card-bg;
$list-group-color: $body-color;
$grid-gutter-width: 1em;
$input-bg: rgba(255, 255, 255, 0.10);
$input-border-radius: 10px;
$input-border-color: rgba(255, 255, 255, 0.16);
$btn-border-radius: 8px;
$blur: blur(64px);
$border-radius: 10px;
$text-muted: rgba(255, 255, 255, 0.45);

$modal-content-border-color: $border-color;
$modal-content-bg: $fg;
$modal-content-border-radius: $border-radius;
$modal-backdrop-opacity: 0;

/* Partial Classes */

.glass-primary {
  @extend .bg-blur;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.10), 0 8px 24px rgba(0, 0, 0, 0.11);
}

.glass-secondary {

}

.btn-fog {
  color: darken($body-color, 10%) !important;
  font-size: 0.8rem !important;
}

.form-control {
  border-radius: 8px !important;
  border-color: $fog !important;
}

.bg-blur {
  position: relative;
}

.bg-blur::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 12px -5px rgb(0 0 0 / 10%), inset 0px 0px 1px 1.2px $fog;
  backdrop-filter: $blur;
  -webkit-backdrop-filter: $blur;
}

.bg-blur-2 {
  position: relative;
}

.bg-blur-2::before {
  /*border: 1px solid darken($border-color, 10%);*/
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(24px) !important;

  box-shadow: 0px 1px 12px -5px rgb(0 0 0 / 10%), inset 0px 0px 1px 1.2px $fog;
  -webkit-backdrop-filter: blur(24px);
}

/* Elements */

.element {
  @extend .glass-primary;
  padding: 0.5em 0.5em;
  transition: background-color 100ms ease;
}

/* Theme Modifiers */

.theme-dark {
  .element {
    background-color: darken($fg, 80%);
  }
}

.theme-light {
  .element {
    background-color: darken($fg, 40%);
  }
}

/* Accent Definitions */
$accents: (
        "blue": darken(rgb(10, 132, 255), 10%),
        "red": rgb(255, 69, 58, 0.9),
        "green": darken(rgb(48, 209, 88), 10%),
        "orange": darken(rgb(255, 159, 10, 0.9), 10%),
        "slate": rgb(255, 255, 255, 0.12),
);

@each $clr, $i in $accents {
  .accent-#{$clr} {
    .active {
      background-color: $i;
    }

    .router-link-exact-active {
      background-color: $i;
    }

    .router-link-active {
      background-color: $i !important;
      color: $body-color;

    }
  }

}

/* Bootstrap element alterations */

.glass {

}

.element-title {
  display: block;
  border-radius: 10px;
  font-weight: 800;
  font-size: 24px;

}

/*.element-title::before {
  content: ' ';

  top: 0;
  position: absolute;
  width: 8em;
  height: 50px;
  !*background-color: var(--bs-fog);*!
  !*border: 1px solid;*!
  transform: translate3d(0, 0.5px, 0.5px) rotateX(22deg);
  shape-rendering: geometricPrecision;
  backdrop-filter: blur(24px);*/
/*}*/

.modal-content {
  border: none !important;
  background-color: darken($fg, 80%);
  @extend .bg-blur;
}

.modal-exclusive .modal {
  @extend .bg-blur;
  border: none !important;
  position: absolute;
  top: 0;
}

@import "../node_modules/bootstrap/scss/bootstrap";

/* Primitive alterations */

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {

  color: darken($body-color, 20%);

}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  margin-bottom: 0.5em;
}

.secondary-glass {
  text-decoration: none;
  color: inherit;
  box-shadow: inset 0 0 1px 1.2px darken($fog, 20%) !important;
  background-color: $primary;
}

.elevated {
  box-shadow: 0 -2px 64px 12px rgb(0 0 0 / 20%);
}

.router-link-active {
  @extend .secondary-glass;
}

.icon:hover {
  color: inherit;
  transition: color 250ms;
}

.text:hover {
  color: inherit;
}


.list-group-item {
  background-color: rgba(255, 255, 255, 0.10);
  backdrop-filter: $blur;
  border-radius: 10px !important;
  margin-bottom: 8px;
  border: none !important;
}

/* Static Menus */

.sidebar {


}

hr {
  background-color: $fog;
}

.instanceActive {
  /*@extend .glass-primary;*/
}

.menu-item {
  align-items: center;
  align-content: center;
  font-size: 16px;
  padding: 0.25em 0.75em;
  font-weight: 400;

  height: 36px;
  line-height: 21px;

  border-radius: 8px;
  display: flex;
  justify-content: space-between;


  font-family: Roboto, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  transition: scale 2s;
}

.list-group-item:last-of-type {
  margin-bottom: 0;
}

/* Dropdowns */

.dropdown a:hover {
  color: $body-color;
}

.dropdown-menu {
  @extend .glass-primary;
  position: relative;
  padding: 0.5em 0.5em;
  width: 12em;
  box-shadow: 1px 0 12px 6px rgba(0, 0, 0, 0.1);
  background-color: darken($fg, 80%);
  overflow: hidden;
}

.dropdown-header {
  padding: 0.25em 0.5em;
  margin-top: -6px;
  color: $body-color;
  font-size: 14px;
  font-weight: 600;
}

.dropdown-item {

  box-shadow: none !important;
  border-color: $fog;
  vertical-align: center;
  align-items: center;
  align-content: center;
  font-size: 14px;
  padding: 0.45em 0.75em;
  margin-bottom: 0.25em;
  font-weight: 500;
  border-radius: 6px;
  color: darken($body-color, 20%);
}

.dropdown-item:hover {
  background-color: lighten($fog, 10%);
  color: $body-color;
  border-radius: 6px;
}










